footer.footer.animate__animated.animate__fadeIn
    p.footer__copyright &copy; Designed and developed by 
        a(href='https://www.linkedin.com/in/kishorbalgi/' target="_blank") Kishor Balgi
        //- |. All rights reserved.

