footer.footer.animate__animated.animate__fadeIn
    p.footer__copyright &copy; Designed and developed by 
        a(href='https://pbs.twimg.com/profile_images/1395809100680679424/8xbH8teV_400x400.jpg' target="_blank") Selmon Bhoi 🚀
        //- a(href='https://www.linkedin.com/in/kishorbalgi/' target="_blank") Kishor Balgi 🚀
        //- |. All rights reserved.

