nav.main-nav.animate__animated.animate__fadeInDown
    span(class="mob-menu-btn")
                
    a(href="/") 
        h1 Lab Repo
    ul.main-menu
        li 
            a(href="/") Home
        if user 
            li
                a(class='logout-btn') Logout
            a(href='/profile') 
                img(src=user.avatar class='avatar')
        else 
            li 
                a(href="/login") Login
            li 
                a(href="/signup") Signup

    ul.mob-menu 
        if user 
            a(href='/profile' class="mob-menu-avatar") 
                img(src=user.avatar class='avatar')
        li 
            a(href="/") Home
        if user 
            li
                a(class='logout-btn') Logout
        else 
            li 
                a(href="/login") Login
            li 
                a(href="/signup") Signup


    p.view-count Viewers: 
        span.count 0
