extends base

block content 
    section#about
        h1.about-title About Project
        p.about-desc This is a website where you can find all the resources you need for your CSE course. You can find notes, labs, text books, courses, placements resources and much more. This website is built by 
            a(href="https://www.linkedin.com/in/kishorbalgi/" target="_blank") Kishor Balgi
            |. We are always open to suggestions and feedback.

        h1.about-title Developer Details 
        p.about-desc 
            |Name: 
            span Kishor Balgi
        p.about-desc
            |Email: 
            span kishorwebdev@gmail.com

        .socials 
            ul 
                li 
                    a(href="https://www.linkedin.com/in/kishorbalgi/" target="_blank")
                        img(src="/icons/linkedin.png", alt="Linkedin")
                li
                    a(href="https://github.com/KishorBalgi" target="_blank")
                        img(src="/icons/github.png", alt="Github")
                
                li
                    a(href="https://twitter.com/KishorBalgi" target="_blank")
                        img(src="/icons/twitter.png", alt="Twitter")

        h1.about-title Website Details
        .socials 
            ul 
                li
                    a(href="https://github.com/KishorBalgi/Lab-Repo-Renewed" target="_blank")
                        img(src="/icons/github.png", alt="CSE Repo Github")
        h1.about-title Credits
        p.about-desc 
            |Notes: 
            span Venkatesh Dhongadi

        .socials 
            ul 
                li 
                    a(href="https://www.linkedin.com/in/venkatesh-dhongadi/" target="_blank")
                        img(src="/icons/linkedin.png", alt="Linkedin")
                li
                    a(href="https://github.com/flick-23" target="_blank")
                        img(src="/icons/github.png", alt="Github")
            
                

