extend base

block content 
    main.home 
        .card-container 
            a(href="/admin/createLab")
                .card.animate__animated.animate__flipInX
                    p.card__title Create Lab

            a(href="/admin/uploadCode")
                .card.animate__animated.animate__flipInX 
                    p.card__title Upload Code
