extends base

block content
    .profile 
        .profile-card.animate__animated.animate__zoomIn 
            .profile-avatar 
                img(src=user.avatar alt="avatar")
            form.profile-info.change-password-form 
                h2 Change Password
                .profile-detail
                    label(for="name") Current Password :
                    input(type="password" name="currentPassword" class="cur-pass" placeholder="Enter your current password" required)
                .profile-detail
                    label(for="email") New Password :
                    input(type="password" name="newPassword" class="new-pass" placeholder="Enter your new password" required)
                .profile-detail
                    label(for="email") Confirm Password :
                    input(type="password" name="confirmPassword" class="conf-pass" placeholder="Confirm your new password" required)
                .profile-btns 
                    button(type="submit" class="profile-btn") Update