extends base

block content 
    main.home 
        .card-container 
            a(href="#")
                .card 
                    p.card__title Notes 

            a(href="#")
                .card 
                    p.card__title Labs
            
            a(href="#")
                .card 
                    p.card__title Courses