extends base

block content 
    main.home 
        .card-container 
            a(href="#")
                .card.animate__animated.animate__flipInX
                    p.card__title Notes 

            a(href="#")
                .card.animate__animated.animate__flipInX 
                    p.card__title Labs
            
            a(href="#")
                .card.animate__animated.animate__flipInX 
                    p.card__title Courses