extends base

block content 
    main.home 
        .card-container 
            a(href="https://drive.google.com/drive/folders/1s6LiRwgqN7AHO2xkRoTFVpQi4Bv7uo7E?usp=sharing" target="_blank")
                .card.animate__animated.animate__flipInX
                    p.card__title Notes 

            a(href="#")
                .card.animate__animated.animate__flipInX 
                    p.card__title Text Books

            a(href="/labs")
                .card.animate__animated.animate__flipInX 
                    p.card__title Labs
            
            a(href="#")
                .card.animate__animated.animate__flipInX 
                    p.card__title Courses

            a(href="#")
                .card.animate__animated.animate__flipInX 
                    p.card__title Placements