extends base

block content
    main.labs
        h1 Labs
        each sem in sems
            .sem-block.animate__animated.animate__fadeInRight
                p.sem-title.animate__animated.animate__fadeInLeftBig="Sem-"+sem._id
                .sem-labs
                    each lab in sem.labs
                        a(href="/labs/"+lab._id)
                            .sem-lab
                                p.lab-title=lab.name        